@font-face{
    font-family: 'Amazon Ember';
    src: "./font.tff"
}



* {
    font-family: "Amazon Ember",Arial, sans-serif ;
}



label{
    font-weight: bold;
}
.logo {
    text-align: center;
}
.logo img{
    width: 103px;
    height: auto;
}
.card {
    margin: auto;
    max-width: 400px
}
.btn-amazon {
    background: #f0c14b;
    border-color: #a88734 #9c7e31 #846a29;
}
input:focus {
    border-color: #e77600 !important; 
    box-shadow: 0 0 3px 2px rgba(228,121,17,.5) !important;
}